[user]
	email = rcr3211@gmail.com
	name = Yaroslav Novitsky
	signingkey = 06EB95B17ABD53FC
[core]
	editor = nvim
	autocrlf = input
[credential]
	helper = store --file ~/.git-credentials
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[advice]
	addIgnoredFile = false
